:root {
    --blue: blue;
    --purple: #5c1c9c;
    --white: white;
    --gray: #bcadbd;
    --light: #b39bcb;
    --dark:#76d776;
}

body {
    background-image: url(./emily-bernal-r2F5ZIEUPtk-unsplash.jpg);

}


h1 {
    background-color: var(--purple);
    padding: 30px;
    float: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 60;
    color: var(--white);

}




.saved-activities {
    background-color: var(--purple);
    color: var(--white);
    padding: 10px;
    height: 80px;
    float: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 60;
    border: 3px solid var(--white);
    box-shadow: 0px 0px 50px var(--dark);

}

.speech {
    width: 300px;
    margin: 50px auto;
    background: var(--gray);
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: var(--purple);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:relative;
    font-size: 20px;
}

.b1:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid var(--gray);
    border-top: 10px solid var(--gray);
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;
  }

#generate {
    background-color: var(--purple);
    color: var(--white);
    /* padding: 10px; */
    height: 80px;
    /* float: left; */
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 60;
    border: 3px solid var(--white);
    box-shadow: 0px 0px 50px var(--dark);
}

#save {
    background-color: var(--purple);
    color: var(--white);
    /* padding: 10px; */
    height: 80px;
    /* float: right; */
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 60;
    border: 3px solid var(--white);
}



figure {
    float: left;
    display: block;
    color: var(--white);
    text-align: center;
    /* padding: 40px 10px; */
    text-decoration: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
    height: 40px;
    float: left;
    width: 40px;
    border: 9px ridge var(--purple);
    box-shadow: 0px 0px 50px var(--dark);
}


.box img {
    width: 100%;
    height: 100%;
}

/* .row {
    display: flex;
} */

.right {
    display: flex;
    flex-direction: column;
}


/* word art for the title */
.wordart {
    font-family: Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .wordart.tilt {
      display: inline-block;
      transform: scaleY(2) perspective(1em) rotateX(15deg) translate3d(-19%, -14%, -0.4em);
      -webkit-transform: scaleY(2) perspective(1em) rotateX(15deg) translate3d(-19%, -14%, -0.4em);
      -moz-transform: scaleY(2) perspective(1em) rotateX(15deg) translate3d(-19%, -14%, -0.4em);
      -o-transform: scaleY(2) perspective(1em) rotateX(15deg) translate3d(-19%, -14%, -0.4em);
      -ms-transform: scaleY(2) perspective(1em) rotateX(15deg) translate3d(-19%, -14%, -0.4em);
  }

  .text {
      font-family: Arial, sans-serif;
      font-weight: bold;
      background: var(--dark);
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
      background: -moz-linear-gradient(top, var(--dark) 0%, var(--light) 73%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, var(--dark)), color-stop(73%, var(--light)));
      background: -webkit-linear-gradient(top, var(--dark) 0%, var(--light) 73%);
      background: -o-linear-gradient(top, var(--dark) 0%, var(--light) 73%);
      background: -ms-linear-gradient(top, var(--dark) 0%, var(--light) 73%);
      background: linear-gradient(to bottom, var(--dark) 0%, var(--light) 73%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--dark)', endColorstr='var(--light)', GradientType=0);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: -0.01em;
      -webkit-text-stroke: 0.01em #A3A3A3;
      filter: progid:DXImageTransform.Microsoft.Glow(Color=#a3a3a3, Strength=1);
  }
  
  .text:before {
      content: attr(data-text);
      position: absolute;
      z-index: -1;
      top: 0.17em;
      -webkit-text-fill-color: #6D4916;
      -webkit-background-clip: border-box;
      transform: perspective(1em) rotateX(65deg) scale(0.77);
      -webkit-transform: perspective(1em) rotateX(65deg) scale(0.77);
      -moz-transform: perspective(1em) rotateX(65deg) scale(0.77);
      -o-transform: perspective(1em) rotateX(65deg) scale(0.77);
      -ms-transform: perspective(1em) rotateX(65deg) scale(0.77);
  }